* {
  list-style: none;
  text-decoration: none;
  transition: all 1s;
}
a {
  color: unset;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: relative;
  flex-direction: column;

  @media only screen and (min-width: 572px) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url(https://media2.giphy.com/media/XuBNdP9Pb7W9i/giphy.gif);
      opacity: 0.2;
    }
  }
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  height: 100vh;

  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: inherit;
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    width: calc(100% - 100px);
    height: 77%;
    z-index: 0;
    padding-top: 15px;
    // border-top: 10px solid #e6e9ed94;
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    @media only screen and (max-width: 572px) {
      // visibility: hidden;
      padding-top: 13px;

      height: 81%;
      position: relative;
      top: -2%;
      width: 94%;
    }
    // @for $i from 1 through 4 {
    //    @media screen and (max-width:(798px - $i*80)) {
    //       min-width:600px - $i*80;
    //       .option:nth-child(#{6-$i}) {
    //          display:none;
    //       }
    //    }
    // }

    .option {
      position: relative;
      overflow: hidden;
      z-index: 0;

      min-width: 60px;
      margin: 10px;
      //border:0px solid --defaultColor;

      background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
      background-size: auto 120%;
      background-position: center;

      cursor: pointer;

      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

      &:nth-child(1) {
        background-image: url(https://media2.giphy.com/media/XuBNdP9Pb7W9i/giphy.gif);
      }

      &:nth-child(2) {
        background-image: url(https://i.pinimg.com/originals/e3/0e/74/e30e74fa2839e6bc66cf0e7ce196801e.gif);
      }
      &:nth-child(3) {
        background-image: url(https://i.pinimg.com/originals/f1/20/f1/f120f1bdde457ba9208083e5d9e957d5.gif);
      }
      &.active {
        flex-grow: 10000;
        transform: scale(1);
        max-width: 75%;
        margin: 0px;
        border-radius: 40px;
        background-size: auto 100%;

        .shadow {
          box-shadow: inset 0 -120px 120px 27px black,
            inset 0 -120px 120px -27px black;
        }
        .label {
          bottom: 76px;
          left: 20px;
          font-size: 50px;
          .info > div {
            left: 12px;
            top: 15px;
            opacity: 1;
            text-align: left;

            @media only screen and (max-width: 572px) {
              font-size: 19px;
              left: 2px;
              top: 4px;
            }
          }

          @media only screen and (max-width: 572px) {
            left: 5px;
          }
        }
        /*&:active {
               transform:scale(0.9);
            }*/
      }

      &:not(.active) {
        flex-grow: 1;

        border-radius: 30px;
        .shadow {
          bottom: -40px;
          box-shadow: inset 0 -120px 0px -120px black,
            inset 0 -120px 0px -100px black;
        }
        .label {
          bottom: 40px;
          left: -10px;
          .info > div {
            left: 20px;
            opacity: 0;
          }
          @media only screen and (max-width: 572px) {
            .icon {
              left: 13px;
              position: relative;
              min-width: 50px;
              max-width: 50px;
              height: 50px;
              top: 40%;

              i {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
      .shadow {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 160px;

        @media only screen and (max-width: 572px) {
          height: 126px;
        }
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      }
      .label {
        display: flex;
        position: absolute;
        right: 0px;

        height: 40px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          min-width: 100px;
          max-width: 100px;
          height: 100px;
          border-radius: 100%;
          background-color: white;
          color: var(--defaultBackground);
          @media only screen and (max-width: 572px) {
            min-width: 70px;
            max-width: 70px;
            height: 70px;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin-left: 10px;
          margin-top: 35px;
          color: white;

          white-space: pre;
          > div {
            position: relative;

            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
              opacity 0.5s ease-out;
          }
          .main {
            font-weight: bold;
            font-size: 30px;
          }
          .sub {
            transition-delay: 0.1s;
            font-size: 2rem;
            @media only screen and (max-width: 572px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
.youtube {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  @media only screen and (max-width: 572px) {
    transform: scale(1.7);
  }
  pointer-events: none;
}
.youtube::after {
  content: "";
  background-image: url(https://media0.giphy.com/media/l41K3o5TzvmhZwd4A/giphy.gif);
  opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.controls {
  background-color: #000;
  /* border-radius: 10px; */
  display: flex;
  height: 11%;
  justify-content: space-around;
  opacity: 0.92;
  padding-bottom: 7px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #e6e9ed1a;
  @media only screen and (max-width: 572px) {
    height: 2%;
    padding-bottom: 55px;
  }
  opacity: 0.92;
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: space-around;
}
i {
  font-weight: bold;
  font-size: 2rem;
}
.btn {
  padding: 15px;

  background-color: black;
  width: auto;
  height: auto;
  font-size: 2rem;
  color: #e6e9ed;
  cursor: pointer;
  border: 5px solid black;
  margin: 0 25px;
  border-radius: 10px;

  @media only screen and (max-width: 572px) {
    padding: 0 7%;
    width: 90%;
    margin: 0;
    border-radius: 0;
    margin: 0 -10px;
  }
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    transform: scale(1.03);
  }
  &.activeCategory {
    color: #ff0000ba;
  }
}
.control {
  display: flex;
  justify-content: space-around;
  width: 12%;
  .change {
    background-color: transparent;
    color: #e6e9ed;
    font-size: 60px;
    border: 0;
    @media only screen and (max-width: 572px) {
      &.chanel {
        display: none;
      }
    }
    cursor: pointer;
    &:hover {
      transform: scale(1.08);
    }
    &.start {
      background-color: black;
      color: #ff0000ba;
      position: absolute;
      border: 0;
      width: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      font-size: 14rem;
      opacity: 2;
      cursor: context-menu;
      svg {
        animation: opening 2s infinite;
        cursor: pointer;
      }
      .about {
        color: #e6e9ed;
        font-size: 5rem;
        position: absolute;
        top: 0%;
        opacity: 0.4;
        display: block;
        width: 100%;
        @media only screen and (max-width: 992px) {
          .activeCategory:nth-child(3) {
            display: none;
          }
          .activeCategory:nth-child(4) {
            display: none;
          }
        }

        .btn {
          @media only screen and (max-width: 572px) {
            margin: 0;
          }
        }

        button:hover {
          transform: scale(1);
        }
        .detail {
          color: #e6e9ed;
          cursor: context-menu;
        }

        svg {
          animation: none;
          cursor: context-menu;
          padding-top: 15%;
          @media only screen and (max-width: 572px) {
            padding: 0;
          }
        }
        .activeCategory {
          float: left;
        }
      }
      &:hover {
        transform: scale(1);
      }
    }

    svg {
      @media only screen and (max-width: 572px) {
        // position: relative;
        // top: -29%;
      }
    }
    @media only screen and (max-width: 572px) {
      &:first-child {
        .pause {
          display: none;
        }
      }
      &:last-child {
        svg {
          height: 64px;
          width: 64px;
        }
      }
    }
  }

  @media only screen and (max-width: 572px) {
    // position: absolute;
    // top: 4%;
  }
}
.categories {
  display: flex;
  width: 40%;
  justify-content: end;
  .change {
    @media only screen and (min-width: 572px) {
      display: none;
    }
  }
  @media only screen and (max-width: 572px) {
    justify-content: space-between;
    position: absolute;
    top: 2%;
    width: 100%;
    button {
      text-align: left;
      border-radius: 10px;
      padding: 0 4%;
      width: 33%;
      &:last-child {
        width: 23%;
        text-align: center;
        border: none;
        background-color: rgba(255, 0, 0, 0.7294117647);
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.logo {
  transform: scale(0.9);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: logo 3s infinite;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 1600px) {
    display: none;
  }
}
.social {
  position: absolute;
  right: 2%;
  top: 2%;
  color: #e6e9ed;
  font-size: 2rem;
  opacity: 0.9;
  a {
    margin: auto;
  }
  sup {
    color: #ff0000db;
  }
  @media only screen and (max-width: 1600px) {
    bottom: 8%;
    top: unset;
    width: 100%;
    right: unset;
  }
}
@keyframes opening {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 992px) {
  body {
    .options {
      flex-direction: column;
      .option:not(.active) {
        height: 16%;
      }
      .option {
        &.active {
          max-width: 100%;
          i {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 572px) {
  body {
    .options {
      flex-direction: column;
      .option:not(.active) {
        height: 16%;
      }
      .option {
        &.active {
          max-width: 100%;
        }
      }
    }
  }
}
.info-control {
  display: none;
  position: absolute;
  width: 90%;
  top: 11%;
  left: 5%;
  color: rgba(255, 0, 0, 0.8588235294);
  height: 56vh;
  .data {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: black;
    border: 10px solid rgb(255 255 255 / 14%);
    border-radius: 10px;
    .about {
      .btn {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
.footer {
  width: 100%;
  height: 10%;
  border-radius: 100% 0 0;
  box-shadow: inset 0 -91px 108px -13px black, inset 0 -24px 33px 46px #ff0000bd;
  margin-top: 10px;
  z-index: 0;
  .nav {
    display: flex;
    color: #d4d7da;
    float: right;
    height: 100%;
    align-items: end;
    li {
      padding: 25px;
      font-size: 2.2rem;
      cursor: help;
      &:hover {
        transform: scale(1.1);
      }
      &:hover + .info-control {
        display: block;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    display: none;
  }
}
@keyframes logo {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
